/*桌面端的 导航样式*/
* {
  margin: 0;
  padding: 0;
}

.clearfix {
  display: block;
  clear: both;
}

.nav-wz
li {
  list-style: none;
  position: relative;
}

.nav-wz
a {
  text-decoration: none;
  display: block;
  padding: 20px 50px;
  /*transition: all 0.8s;*/
}

.nav-color{
  background-color: rgb(170, 170, 170);
}

.nav-wz {
  text-align: center;
  font-family: Magneto,华文彩云;
  font-size: 25px;
  position: fixed;
  width: 100%;
  transition: all 1s;
  margin-top: -60px;
  z-index: 1;
  animation: nav-down 1.8s forwards;
}

@keyframes nav-down {
  100% {margin-top: 0;}
}

#a {
  display: inline-block;
}

#a a {
  color: rgb(227, 255, 0);
}

nav a:hover {
  text-decoration: none;
}

.nav-wz
.nav-container {
  margin:  0  auto;
}

.nav-wz
.nav-list {
  float: right;
}

.the-en {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -999;

}

.the-ch {
  color:rgb(255, 255, 255);
  opacity: 1;
  top: 0;
}

.the-ch:hover {
  transition: all 0.5s;
  opacity: 0;
}

.the-ch:hover + .the-en {
  opacity: 1;
  transition: all 0.8s 0.2s;
}

/*字体图标的外包裹*/
.nav-wz .wrap {
  height: 50px;
  display: none;
}

/*字体图像*/
.nav-wz .icon {
  float: left;
  position: absolute;
  left: 1%;
  margin:0 20px;
  font-family: 'icomoon';
  speak: none;
  font-size: 20px;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s;
}

.the-icon {
  transform: rotate(45deg);
}

footer {
  background-color: rgb(98, 98, 98);
  height: 5vh;
}

footer::before {
  content: " ";
  clear: both;
  display: block;
}

footer
p{
  font-size: 1.1em;
  height: 5vh;
  margin-left: 5vw;
}






/*桌面端样式 结束*/
/*媒体查询*/

@media (max-width: 1024px) {
  /*手机端 消去首页..*/
  .nav-wz #none {
    display: none;
  }

.nav-wz
.nav-list {
    text-align: center;
    display: block;
    float:none;
  }

#a {
  display: none;
}

.nav-wz
.nav-container {
  display: none;
}
.nav-wz
a {
    width: auto;
  }

  .nav-wz
  .wrap {
    display: block;
  }

.nav-wz
span {
    display:inline-block;
    color: #fff;
    line-height: 50px;
    padding: 0  15px;
  }
}

/*自定义图像文字*/
@font-face {
  font-family: "icomoon";
  src:  url('../fonts/icomoon.eot?nhzfsp');
  src:  url('../fonts/icomoon.eot?nhzfsp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nhzfsp') format('truetype'),
    url('../fonts/icomoon.woff?nhzfsp') format('woff'),
    url('../fonts/icomoon.svg?nhzfsp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
