/*桌面端的 导航样式*/
* {
  margin: 0;
  padding: 0;
}
.nav-wz
li {
  list-style: none;
  position: relative;
}

.nav-wz
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: block;
  padding: 12px 40px;
  width: 80px;
}

.nav-wz {
  background:#000;
  text-align: center;
  z-index: 1;
  font-family:Courier;
  font-size: 19px;
  position: fixed;
  width: 100%;
  transition: all 1s;
}

.nav-wz
.nav-container {
  margin: 0 auto;
}

.nav-wz
.nav-list {
  display: inline-block;
}

/*字体图标的外包裹*/
.nav-wz .wrap {
  height: 50px;
  display: none;
}

/*字体图像*/
.nav-wz .icon {
  float: left;
  position: absolute;
  left: 1%;
  margin:0 20px;
  font-family: 'icomoon';
  speak: none;
  font-size: 20px;
 font-style: normal;
 font-weight: normal;
 font-variant: normal;
 text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.4s;
}

.the-icon {
  transform: rotate(45deg);
}
/*桌面端样式 结束*/
/*媒体查询*/

@media (max-width: 768px) {
  /*手机端 消去首页..*/
  .nav-wz #none {
    display: none;
  }

.nav-wz
.nav-list {
    text-align: center;
    display: block;
    float:none;
  }

.nav-wz
.nav-container {
  display: none;
}
.nav-wz
a {
    width: auto;
  }

  .nav-wz
  .wrap {
    display: block;
  }

.nav-wz
span {
    display:inline-block;
    color: #fff;
    line-height: 50px;
    padding: 0  15px;
  }
}

/*自定义图像文字*/
@font-face {
  font-family: "icomoon";
  src:  url('../fonts/icomoon.eot?nhzfsp');
  src:  url('../fonts/icomoon.eot?nhzfsp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nhzfsp') format('truetype'),
    url('../fonts/icomoon.woff?nhzfsp') format('woff'),
    url('../fonts/icomoon.svg?nhzfsp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
